.navbar {
  border-radius: 0px;
}

.navbar-inverse {
  background-color: #29487d;
  line-height: 1.34;
  margin-bottom: 0em;
}
.navbar-right {
  margin-right: 2em;
}
@media (min-width: 845) {
  /* .form-group h4 {
    margin-bottom: 1em;
  } */
}
.form-group {
  margin: 1.5em 0px;
}
div.form-group.row {
  margin: 2em;
}

.board {
  
}
